{% extends 'base.html' %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li class="active">{{ edit_or_add }} Category</li>
    </ol>

    <h1>{{ edit_or_add }} Category</h1>

    <form action="" method="post">
        <div class="form-group">
            <label for="inputName">Category Name</label>
            <input type="text" class="form-control" name="name"
                   id="inputName" placeholder="name of the category"
                   {% if category_name %}value="{{ category_name }}"{% endif %}>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      {% if edit_or_add == "Edit" %}
          <button type="button"
                  class="btn btn-link"
                  onclick="
                    if(confirm('Are you sure you want to delete this category?'))
                    {
                        $('#deleteCategoryForm').submit();
                    }
                ">Delete this category
          </button>
      {% endif %}
        <input type="hidden" name="state" value="{{ state }}">
    </form>
  {% if edit_or_add == "Edit" %}
    <!-- hidden form for delete action -->
      <form action="{{ url_for('delete_category', category_id=category.id, category_name=category.name) }}"
            method="post"
            style="display: none"
            id="deleteCategoryForm">
          <input type="hidden" name="state" value="{{ state }}">
      </form>
  {% endif %}

{% endblock %}