{% extends "base.html" %}
{% import '_snippet.html' as snippet %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                  {{ snippet.catalog_side_bar(catalog, user) }}
                </div>
                <div class="col-md-8">
                  {% if user %}
                      <a href="{{ url_for('new_item') }}">Add Item</a>
                  {% endif %}

                    <h1>Latest items</h1>

                  {% for item in latest_items %}
                      <p>
                          <a href="{{ url_for('show_item', category_id=item.category.id, category_name=item.category.name, item_id=item.id, item_name=item.name) }}">{{ item.name }}</a>
                          <span>&nbsp;&nbsp;</span>
                          <span>(</span>
                          <a href="{{ url_for('show_category', category_id=item.category.id, category_name=item.category.name) }}">{{ item.category.name }}</a>
                          <span>)</span>
                      </p>
                  {% endfor %}

                    <p class="text-right">
                        <a href="{{ url_for('recent_feed') }}" style="margin-left: 10px">atom feed</a>
                        <span>|</span>
                        <a href="{{ url_for('api_catalog') }}" style="margin-right: 10px">catalog.json</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}