{% extends "base.html" %}
{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('show_category', category_name=category.name) }}">{{ category.name }}</a></li>
        <li class="active">{{ item.name }}</li>
    </ol>

    <div class="row">
        <div class="col-md-10">
            <h1>{{ item.name }}</h1>
          {% if user %}
              <a href="{{ url_for('edit_item', category_name=item.category.name, item_name=item.name) }}">Edit</a>
              <span>|</span>
            {% if item.subcategory_id %}
                <a href="{{ url_for('new_item', default_category=category.name, default_subcategory=item.subcategory.name) }}">Add
                    Item</a>
            {% else %}
                <a href="{{ url_for('new_item', default_category=category.name) }}">Add
                    Item</a>
            {% endif %}

          {% endif %}
            <br/>
          {{ item.description|nl2br }}
        </div>
        <div class="col-md-2">
          {% if item_image %}
              <a href="{{ url_for('uploaded_file', filename=item_image.filename) }}">
                  <img src="{{ url_for('uploaded_file', filename=item_image.filename) }}"
                       alt="item's img" class="img-thumbnail">
              </a>
          {% endif %}
        </div>
    </div>



{% endblock %}